<mjml>
  <mj-body background-color="white">
	<mj-section background-color="white" padding="5px">
	  <mj-column>

		<mj-image src="{{ getAssetUrl('themes/'~template~'/assets/logo_260x55.png') }}" alt="logo ionutojica.com" id="itte" width="151px" height="30px"/>

	  </mj-column>
	</mj-section>
	<mj-section background-color="white" padding="5px">
	  <mj-column>

		<mj-text font-size="24px" line-height="30px" font-family="Verdana,Geneva,sans-serif" align="center" color="#414141" font-weight="700" letter-spacing="1px">
		  <p>Titlu 07.11.2022 20:45
		  </p>
		</mj-text>
		<mj-text font-size="16px" line-height="20px" font-family="Verdana,Geneva,sans-serif" color="#414141">

		  <p>Salut {contactfield=firstname},</p>

		  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>

		  <p>{contactfield=camp_austria}</p>

		  <p>{contactfield=camp_belgia}</p>

		  <p>{contactfield=camp_cehia} {contactfield=website}</p>

		  <p>{contactfield=camp_danemarca} <strong>{contactfield=nrabonati}</strong>.</p>

		  <p>{contactfield=camp_elvetia}</p>

		  <p>Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies</p>

		</mj-text>

	  </mj-column>
	</mj-section>
	<mj-section background-color="white" padding="5px">
	  <mj-column>

		<mj-divider border-width="1px" border-style="dashed" border-color="#435639"/>

	  </mj-column>
	</mj-section>
	<mj-section background-color="white" padding="5px">
	  <mj-column>

		<mj-button href="https://ionutojica.com/home/blog/" background-color="#435639" border-radius="10px" font-size="24px" font-family="Verdana,Geneva,sans-serif">Vreau să văd produsele
		</mj-button>

	  </mj-column>
	</mj-section>
	<mj-section background-color="white" padding="5px">
	  <mj-column>

		<mj-divider border-width="2px" border-style="solid" border-color="#435639"/>

	  </mj-column>
	</mj-section>
	<mj-section background-color="white" padding="5px">
	  <mj-column>

		<mj-button href="https://ionutojica.com/newsletter-confirmare/" background-color="#db2e2e" font-size="30px" border-radius="10px" font-family="Verdana,Geneva,sans-serif" color="#fdfadb">Vreau să văd produsele
		</mj-button>

	  </mj-column>
	</mj-section>
	<mj-section background-color="white" padding="5px">
	  <mj-column>

		<mj-text font-size="16px" line-height="20px" font-family="Verdana,Geneva,sans-serif" color="#414141">
		  <p>Cu prietenie,
		  </p>
		</mj-text>

	  </mj-column>
	</mj-section>
	<mj-section background-color="white" padding="5px">
	  <mj-column>

		<mj-image src="https://m.ionutojica.com/media/images/logo/Semnatura_247x52.png" alt="Semnatura" align="left" alt="Semnatura" id="izsiw" width="247px" height="52px"/>

	  </mj-column>
	</mj-section>
	<mj-section background-color="white" padding="5px">
	  <mj-column>

		<mj-text font-size="16px" line-height="20px" font-family="Verdana,Geneva,sans-serif" color="#414141">
		  <p>P.S.: Ai prieteni interesaţi de subiectul de mai sus?
		  </p>

		  <p>Recomandă-le şi lor Webinarul. Este gratuit pentru toată lumea şi puteţi participa chiar şi împreună.
		  </p>
		</mj-text>

	  </mj-column>
	</mj-section>
	<mj-section background-color="white" padding="5px">
	  <mj-column>

		<mj-text font-size="16px" line-height="20px" font-family="Verdana,Geneva,sans-serif" color="#414141" padding-top="5px">
		  <p>{unsubscribe_text}
		  </p>
		</mj-text>
	  </mj-column>
	</mj-section>
  </mj-body>
</mjml>